asn1crypto==0.22.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
cryptography==2.0.3
dateparser==0.6.0
idna==2.6
mysql-connector-python-rf==2.2.2
ndg-httpsclient==0.4.3
pyasn1==0.3.4
pycparser==2.18
pyOpenSSL==17.2.0
python-dateutil==2.6.1
pytz==2017.2
regex==2017.7.28
requests==2.18.4
ruamel.yaml==0.15.33
six==1.10.0
tzlocal==1.4
urllib3==1.26.5
